<form method="post" action="{{ path('app_goal_delete', {'id_g': goal.id}) }}" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ goal.id) }}">
    <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet objectif ?')">
        <i class="bi bi-trash me-2"></i>Supprimer
    </button>
</form>