{# templates/goal/_delete_form.html.twig #}
<form method="post" action="{{ path('app_goal_delete', {'id_g': goal.getIdGoa()}) }}" 
      class="d-inline-flex"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet objectif ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ goal.getIdGoa()) }}">
    <button type="submit" class="btn btn-outline-danger goals-btn goals-btn-secondary">Supprimer</button>
</form>

