<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NEXA App{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/side.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="layout">

    {% block sidebar %}
        {% include 'layout/sidebar.html.twig' %}
    {% endblock %}

    <main class="main">
        {% block body %}{% endblock %}
    </main>

</div>

{% block javascripts %}{% endblock %}
</body>
</html>
