{% extends 'base_dashboard.html.twig' %}

{% block title %}Dashboard | NEXA{% endblock %}

{% block body %}
<h1>Bienvenue sur le dashboard</h1>
<p>Gérez vos utilisateurs et vos amis.</p>
{% endblock %}
